POSTGRES_DB=dhis2
POSTGRES_USER=dhis
POSTGRES_PASSWORD=dhis

DHIS2_DATABASE_HOST=db
DHIS2_DATABASE_NAME=dhis2
DHIS2_DATABASE_USERNAME=dhis
DHIS2_DATABASE_PASSWORD=dhis
DHIS2_BASE_URL=http://localhost:8082
DHIS2_USERNAME=...
DHIS2_PASSWORD=...
